/*************************************
 * Vivid theme styles loaded after
 * the Noir theme's common.css
 *************************************/

/*
Pink	rgb(214, 0, 158)
Purple	rgb(56, 25, 122)
Blue	rgb(45, 51, 142)
Yellow	rgb(255, 237, 56)
Dark Yellow	rgb(255, 216, 22)
Black	rgb(10, 12, 17)
White	rgb(255, 255, 255)
Grey	rgb(221, 219, 209)
*/

/* background-color: palette(keycolor); */
/* background-color: palette(dark); */
/* background-color: palette(light); */
/* background-color: palette(highlight); */
/* background-color: palette(shadow); */
/* background-color: palette(mid); */
/* background-color: palette(alternate-base); */
/* color:palette(bright-text) */

/* https://doc.qt.io/qt-5/qpalette.html */

QListWidget,QTableView {
border-color:#BABFB7;
background-color:rgb(221, 219, 209)
}

QListWidget::item,QTableView::item {
border-color:transparent
}

QListWidget::item:hover {
background-color:rgb(221, 219, 209);
border-color:#787878
}

QListWidget::item:selected {
color:rgb(10, 12, 17);
border-color:rgb(255, 216, 22)
}

QListWidget::item:selected,QTableView::item:selected,QTableView:disabled,QTableView:selected {
background-color:rgb(255, 255, 255)
}

QTableView::item {
color:#E5E5E5
}

QTableView::item:hover {
background-color:rgb(255, 237, 56)
}

QTableView::item:selected {
color:rgb(10, 12, 17);
border-color:rgb(221, 219, 209)
}

QTableView::item:selected:hover {
background-color:rgb(255, 237, 56);
color:rgb(10, 12, 17)
}

QTableView:disabled {
color:#787878
}

QTableView:selected {
color:rgb(221, 219, 209)
}

QCheckBox::indicator:unchecked,QRadioButton::indicator:unchecked {
background-color:rgb(255, 255, 255);
color:rgb(10, 12, 17);
border-color:#787878
}

QCheckBox::indicator:unchecked:pressed,QRadioButton::indicator:unchecked:pressed {
background-color:rgb(255, 237, 56);
border-color:#787878;
border-style:solid
}

QCheckBox::indicator:checked:pressed,QRadioButton::indicator:checked:pressed {
background-color:#787878
}

QMenuBar {
background-color:rgb(221, 219, 209);
color:rgb(10, 12, 17);
border-color:rgb(255, 255, 255)
}

QMenuBar::item:selected {
background-color:transparent;
border-color:rgb(221, 219, 209)
}

QMenuBar::item:pressed {
background-color:rgb(255, 237, 56);
border-color:rgb(221, 219, 209)
}

QMenu::item {
background-color:transparent
}

QAbstractItemView {
color:rgb(10, 12, 17);
border-color:rgb(221, 219, 209)
}

QScrollBar:horizontal {
background-color:rgb(255, 255, 255);
border-color:rgb(221, 219, 209)
}

QToolButton#qt_toolbar_ext_button {
background-color:rgb(221, 219, 209);
color:rgb(10, 12, 17)
}

QProgressBar::chunk {
background-color:rgb(255, 237, 56);
color:rgb(255, 255, 255)
}

QProgressBar::chunk:disabled {
background-color:rgb(221, 219, 209);
color:#787878
}

QPushButton:disabled,MacToolButton:disabled {
background-color:rgb(255, 255, 255);
color:#787878;
border-color:rgb(221, 219, 209)
}

QToolButton {
background-color:rgb(221, 219, 209);
border-color:#787878
}

QCommandLinkButton {
background-color:rgb(221, 219, 209);
color:rgb(10, 12, 17);
border-color:#787878
}

QDockWidget {
outline-color:rgb(221, 219, 209);
background-color:rgb(255, 255, 255);
border-color:rgb(221, 219, 209)
}

QTreeView::item:selected:hover,QListView::item:selected:hover,QColumnView::item:selected:hover {
background-color:rgb(255, 237, 56);
color:rgb(10, 12, 17)
}

QHeaderView::section:checked {
color:rgb(10, 12, 17);
background-color:rgb(255, 237, 56)
}

QHeaderView::section:checked:disabled {
color:#787878;
background-color:rgb(255, 237, 56)
}

QHeaderView::section::horizontal {
border-left-color:rgb(255, 255, 255)
}

QHeaderView::section::vertical {
border-top-color:rgb(255, 255, 255)
}

QHeaderView::section::vertical::first,QHeaderView::section::vertical::only-one {
border-top-color:rgb(221, 219, 209)
}

QSpinBox::up-arrow {
background-image:url(images/go-up.svg)
}

QSpinBox::down-arrow {
background-image:url(images/go-down.svg)
}

QToolBox::selected {
border-color:rgb(255, 237, 56)
}

QToolBox::tab:selected {
background-color:rgb(221, 219, 209);
border-bottom-color:rgb(255, 237, 56)
}

QToolBox::tab:selected:disabled {
background-color:rgb(221, 219, 209);
border-bottom-color:rgb(255, 237, 56)
}

QToolBox::tab:hover {
border-color:rgb(255, 237, 56)
}

QSplitter::separator:hover {
background-color:#787878
}

[html-link-look="true"] {
color:palette(link)
}

SearchToolBar #lineEdit[notfound="true"] {
background-color:#ff6666;
color:#BABFB7
}

DesktopNotification {
background-color:#31363b
}

DesktopNotification #frame {
border-color:#696d71
}

DesktopNotification #heading {
color:rgb(255, 237, 56)
}

DesktopNotification #text {
color:#e7ebeb
}

BrowsingLibrary #frame {
background-image:url(images/library-bg.png)
}

QFrame[js-frame="true"] {
background-color:rgb(255, 255, 255);
border-color:black
}

QFrame[js-frame2="true"] {
border-bottom-color:black;
border-left-color:black;
border-right-color:black;
background-color:rgb(255, 255, 255)
}

QWidget {
background-color:rgb(255, 255, 255);
color:rgb(10, 12, 17);
text-shadow:#CCC 1px 0 10px
}

QWidget::item:hover {
background-color:rgb(255, 237, 56);
color:rgb(221, 219, 209)
}

QToolTip {
background-color:rgb(255, 255, 255);
color:rgb(10, 12, 17)
}

QStatusBar {
background-color:rgb(255, 255, 255);
color:rgb(10, 12, 17)
}

QCheckBox,QCheckBox:checked,QCheckBox:unchecked,QMenu,QMenu::item:selected,QAbstractView:hover {
color:rgb(10, 12, 17)
}

QCheckBox QWidget:disabled,QLabel::disabled,QCalendarWidget:disabled,QLCDNumber:disabled,QComboBox:disabled,QLineEdit:disabled,QTreeView:disabled,QListView:disabled,QColumnView:disabled {
border-color:rgb(221, 219, 209);
background-color:rgb(221, 219, 209);
color:#787878
}

QCheckBox::indicator,QFrame[height="3"],QFrame[width="3"],#navigationbar QSplitter::handle,#locationbar-bookmarkicon,#locationbar-autofillicon,#locationbar-bookmarkicon[bookmarked="true"],#locationbar-goicon,#locationbar-down-icon,#sidebar-splitter::handle,#websearchbar-searchbutton {
background-color:transparent
}

QCheckBox::indicator:unchecked:hover,QCheckBox::indicator:checked {
background-color:rgb(255, 237, 56);
border-color:#787878
}

QCheckBox::indicator:unchecked:disabled,QCalendarWidget,QToolButton:disabled,QToolButton::menu-button,QToolButton::menu-arrow:open,QTabWidget::pane,QDockWidget::close-button:hover,QDockWidget::close-button:pressed,QDockWidget::float-button:hover,QDockWidget::float-button:pressed,QToolBox,QDateEdit {
border-color:rgb(221, 219, 209)
}

QCheckBox::indicator:checked:hover {
border-color:#787878;
background-color:rgb(255, 255, 255)
}

QScrollArea QWidget QWidget:disabled,QTreeView::hover,QColumnView::hover {
background-color:rgb(255, 255, 255)
}

QCheckBox::indicator:checked:disabled,QCheckBox::indicator:indeterminate,QCheckBox::indicator:indeterminate:disabled,QCheckBox::indicator:indeterminate:hover,QCheckBox::indicator:indeterminate:pressed {
background-color:rgb(255, 237, 56)
}

QRadioButton,QRadioButton:checked,QRadioButton:unchecked {
color:rgb(10, 12, 17)
}

QRadioButton QWidget:disabled {
background-color:rgb(255, 255, 255);
color:#787878
}

QRadioButton::indicator {
background-color:transparent
}

QRadioButton::indicator:unchecked:hover {
background-color:rgb(255, 237, 56);
border-color:#787878
}

QRadioButton::indicator:unchecked:disabled {
border-color:rgb(221, 219, 209)
}

QRadioButton::indicator:checked:hover {
background-color:rgb(221, 219, 209)
}

QRadioButton::indicator:checked:disabled,QRadioButton::indicator:indeterminate,QRadioButton::indicator:indeterminate:disabled,QRadioButton::indicator:indeterminate:hover,QRadioButton::indicator:indeterminate:pressed {
background-color:rgb(255, 237, 56)
}

QLabel,QLCDNumber {
background-color:rgb(255, 255, 255);
color:rgb(10, 12, 17)
}

QMenuBar:focus,QPushButton:pressed:hover,QToolButton:checked:hover,QToolButton:pressed:hover,QToolButton:hover,QToolButton::menu-button:hover,QToolButton::menu-button:checked:hover,QComboBox:hover {
border-color:#787878
}

QMenuBar::item,QSizeGrip {
background-color:transparent
}

QMenu::separator,QHeaderView::section {
background-color:rgb(221, 219, 209);
color:rgb(10, 12, 17)
}

QAbstractScrollArea,QAbstractSpinBox,QTextBrowser,QGraphicsView,QTreeView,QListView,QColumnView,QToolBox::tab {
background-color:rgb(255, 255, 255);
color:rgb(10, 12, 17);
border-color:rgb(221, 219, 209)
}

QLineEdit {
background-color:rgb(221, 219, 209);
color:rgb(10, 12, 17);
border-color:#787878
}

QAbstractScrollArea:disabled,QHeaderView::section::horizontal:disabled,QHeaderView::section::vertical:disabled,QToolBox::tab:disabled {
color:#787878
}

QScrollBar:vertical,QProgressBar,QTableCornerButton::section,QDateEdit QAbstractItemView {
background-color:rgb(255, 255, 255);
border-color:rgb(221, 219, 209)
}

QScrollBar::handle:horizontal,QScrollBar::handle:vertical {
background-color:#787878;
border-color:rgb(221, 219, 209)
}

QScrollBar::handle:horizontal:hover,QScrollBar::handle:vertical:hover {
background-color:rgb(255, 237, 56);
border-color:rgb(255, 237, 56)
}

QScrollBar::up-arrow:horizontal,QScrollBar::down-arrow:horizontal,QScrollBar::up-arrow:vertical,QScrollBar::down-arrow:vertical,QScrollBar::add-page:horizontal,QScrollBar::sub-page:horizontal,QScrollBar::add-page:vertical,QScrollBar::sub-page:vertical {
background-color:transparent
}

QTextEdit,QPlainTextEdit {
background-color:rgb(255, 255, 255);
color:rgb(10, 12, 17);
border-color:rgb(221, 219, 209)
}

QTextEdit:hover,QPlainTextEdit:hover,QAbstractSpinBox:hover,QLineEdit:hover {
color:rgb(10, 12, 17);
border-color:rgb(255, 237, 56)
}

QTextEdit:selected,QPlainTextEdit:selected,QAbstractSpinBox:selected,QPushButton:checked:selected,MacToolButton:checked:selected,MacToolButton:selected,QPushButton:selected,QLineEdit:selected,QTreeView:selected,QListView:selected,QColumnView:selected,QAbstractView:selected {
background-color:rgb(255, 237, 56);
color:rgb(221, 219, 209)
}

QToolBar,QDockWidget::title,QDockWidget::close-button,QDockWidget::float-button,QHeaderView,QSplitter::separator {
background-color:rgb(221, 219, 209)
}

QAbstractSpinBox:up-button,QAbstractSpinBox:down-button {
background-color:transparent rgb(255, 255, 255);
border-left:1px solid rgb(221, 219, 209)
}

QTextBrowser:disabled,QGraphicsView:disabled,QProgressBar:disabled,QPushButton:checked:disabled {
background-color:rgb(221, 219, 209);
color:#787878;
border-color:#787878
}

QPushButton:checked,QHeaderView:disabled {
background-color:rgb(221, 219, 209);
border-color:#787878
}

QPushButton:pressed,QToolButton:checked,QToolButton:pressed,MacToolButton:pressed {
background-color:transparent;
border-color:#787878
}

QCommandLinkButton:disabled,QWidget:disabled {
background-color:transparent;
color:#787878
}

QComboBox::indicator:alternate,QComboBox::item:alternate,QComboBox::down-arrow,QSlider:disabled {
background-color:rgb(221, 219, 209);
border-color: #787878
}

QComboBox::drop-down {
background-color:rgb(221, 219, 209);
border-left-color:#787878
}

QHeaderView::section::horizontal::first,QHeaderView::section::horizontal::only-one {
border-left-color:#787878
}

QSlider::groove:horizontal,QSlider::groove:vertical {
background-color:rgb(221, 219, 209);
border-color:rgb(221, 219, 209)
}

QSlider::add-page:vertical,QSlider::sub-page:horizontal {
background-color:rgb(255, 237, 56);
border-color:rgb(221, 219, 209)
}

QSlider::add-page:vertical:disabled,QSlider::sub-page:horizontal:disabled {
background-color:rgb(255, 237, 56)
}

QSlider::handle:horizontal,QSlider::handle:vertical {
background-color:#787878;
border-color:rgb(221, 219, 209)
}

QSlider::handle:horizontal:hover,QSlider::handle:vertical:hover {
background-color:rgb(255, 237, 56);
border-color:rgb(255, 237, 56)
}

QTreeView::item:pressed,QListView::item:pressed,QColumnView::item:pressed,QTreeView::item:selected:active,QListView::item:selected:active,QColumnView::item:selected:active,QWidget::item:selected {
background-color:rgb(255, 237, 56)
}

QListView::item:pressed,QListView::item:selected,QListView::item:selected:active {
background-color:rgb(255, 237, 56)
}

QHeaderView::down-arrow,QHeaderView::up-arrow {
background-color:rgb(221, 219, 209);
border-right-color:rgb(255, 255, 255)
}

QPushButton,MacToolButton {
background-color:rgb(221, 219, 209);
border-color:#787878
}

QPushButton:hover,MacToolButton:hover,QPushButton:checked:hover {
color:rgb(10, 12, 17);
background-color:rgb(255, 237, 56);
border-color:rgb(255, 216, 22)
}

QComboBox {
color:rgb(255, 255, 255);
background-color:#787878
}

QFontComboBox {
color:rgb(10, 12, 17);
background-color:transparent
}

QComboBox,QFontComboBox {
border-color:#787878
}

QComboBox:hover,QFontComboBox:hover {
color:rgb(10, 12, 17);
background-color:rgb(255, 237, 56)
}

QComboBox:on {
color:rgb(10, 12, 17)
}

QComboBox QAbstractItemView {
background-color:rgb(221, 219, 209);
border-color:#787878
}

QComboBox::indicator {
background-color:rgb(221, 219, 209);
color:rgb(10, 12, 17)
}

QSpinBox {
background-color:rgb(221, 219, 209);
border-color:#787878
}

QTabWidget::pane:selected {
background-color:rgb(221, 219, 209);
border-color:rgb(255, 237, 56)
}

QTabBar::tab {
border-left-color:rgb(255, 255, 255);
border-right-color:rgb(255, 255, 255)
}

QTabBar::tab:top:selected:disabled,QTabBar::tab:bottom:selected:disabled,QTabBar::tab:left:selected:disabled,QTabBar::tab:right:selected:disabled {
border-bottom-color:rgb(221, 219, 209);
color:#787878;
background-color:rgb(221, 219, 209)
}

QTabBar::tab:top,QTabBar::tab:bottom,QTabBar::tab:left,QTabBar::tab:right {
background-color:rgb(221, 219, 209);
color:rgb(10, 12, 17);
border-bottom-color:rgb(255, 237, 56);
font-weight:bold
}

QTabBar::tab:top:hover,QTabBar::tab:bottom:hover,QTabBar::tab:left:hover,QTabBar::tab:right:hover {
border-bottom-color:rgb(255, 237, 56)
}

QTabBar::tab:top:selected,QTabBar::tab:bottom:selected,QTabBar::tab:left:selected,QTabBar::tab:right:selected {
background-color:rgb(221, 219, 209);
color:rgb(10, 12, 17);
border-bottom-color:rgb(255, 237, 56)
}

QTabBar QToolButton {
background-color:rgb(255, 237, 56)
}

#navigation-toolbutton-badge {
background-color:palette(dark);
color:palette(bright-text)
}

#navigationbar ToolButton:hover {
background-color:rgb(221, 219, 209)
}

#locationbar {
background-color:rgb(221, 219, 209);
color:#787878;
border-color:rgb(255, 255, 255)
}

#locationbar:focus {
color:rgb(10, 12, 17);
border-color:rgb(255, 237, 56)
}

#locationbar ToolButton {
background-color:rgb(221, 219, 209);
border-left-color:rgb(255, 255, 255);
border-top-color:rgb(255, 255, 255);
border-bottom-color:rgb(255, 255, 255)
}

#locationbar ToolButton:hover {
background-color:rgb(221, 219, 209)
}

#websearchbar {
background-color:rgb(255, 255, 255);
color:#787878;
border-color:rgb(221, 219, 209)
}

#websearchbar::focus {
background-color:rgb(221, 219, 209);
color:rgb(10, 12, 17);
border-color:rgb(255, 237, 56)
}

#mainwindow,WebView {
background-color:rgb(255, 255, 255);
color:#BABFB7
}

#locationbar-siteicon,#bookmarksbar QToolButton,#websearchbar-searchprovider-combobox {
border-image:url(images/transp.png)
}

#websearchbar ToolButton:hover,#websearchbar ToolButton {
background-color:palette(keycolor)
}

#jsFrame {
background-image:url(images/semi-transp.png)
}

#tabbar::tab {
border-left-color:transparent;
border-right-color:transparent
}

#tabbar::tab:selected {
color:rgb(10, 12, 17);
border-bottom-color:palette(highlight);
background-color:rgb(221, 219, 209)
}

#tabwidget-button-addtab {
	border-color:rgb(255, 255, 255)
}

#tabwidget-button-addtab:hover {
	border-color:rgb(221, 219, 209)
}

#tab-icon,#sidebar {
background-color:transparent
}

/*
#tabbar {

}
*/

QWidget#PluginsList QListWidget#list::item:hover {
background-color:rgb(255, 237, 56);
border-color:rgb(255, 216, 22)
}

/*************************************
 * Non-standard Qt specific selectors
 *************************************/

QTabBar::tab:right:!selected:disabled,QTabBar::tab:left:!selected:disabled,QTabBar::tab:bottom:!selected:disabled,QTabBar::tab:top:!selected:disabled {
color:#787878;
background-color:rgb(221, 219, 209)
}

QTabBar::tab:top:!selected,QTabBar::tab:top:!selected:disabled {
border-bottom-color:rgb(221, 219, 209)
}

QTabBar::tab:bottom:!selected,QTabBar::tab:bottom:!selected:disabled {
border-top-color:rgb(221, 219, 209)
}

QTabBar::tab:right:!selected,QTabBar::tab:left:!selected:disabled {
border-right-color:rgb(221, 219, 209)
}

QTabBar::tab:left:!selected,QTabBar::tab:right:!selected:disabled {
border-left-color:rgb(221, 219, 209)
}

QTabBar::tab:right:!selected:hover,QTabBar::tab:left:!selected:hover,QTabBar::tab:bottom:!selected:hover,QTabBar::tab:top:!selected:hover {
border-color:rgb(255, 237, 56);
background-color:rgb(255, 237, 56)
}

QTreeView::item:!selected:hover,QColumnView::item:!selected:hover {
color:rgb(255, 237, 56)
}

QListView::item:!selected:hover {
color:rgb(10, 12, 17)
}

QToolBox::tab:!selected,QTreeView::item:!selected:hover,QListView::item:!selected:hover,QColumnView::item:!selected:hover {
background-color:rgb(221, 219, 209)
}

QToolBox::tab:!selected {
border-bottom-color:rgb(221, 219, 209)
}

QToolBox::tab:!selected:disabled {
background-color:rgb(255, 255, 255)
}

QTextBrowser:hover,QTextBrowser:!hover,QTextBrowser::selected,QTextBrowser::pressed,QGraphicsView:hover,QGraphicsView:!hover,QGraphicsView::selected,QGraphicsView::pressed {
border-color:rgb(221, 219, 209)
}

SqueezeLabelV2 {
	background-color:transparent
}

#tabbar::tab:!selected {
border-bottom-color:rgb(255, 237, 56);
color:#787878
}

#tabbar::tab:!selected:hover {
background-color:rgb(221, 219, 209);
color:rgb(10, 12, 17)
}

/*
#tabbar::tab:!selected {

}

#tabbar::tab:!selected:hover {

}

#tabbar::tab:!selected:hover,#tabbar::tab:!selected {

}
*/

/*************************************
 * Non-standard Qt specific styles
 *************************************/

QComboBox::down-arrow {
image: url(images/go-down.svg)
}

QListWidget,QTableView {
alternate-background-color:rgb(255, 255, 255)
}

#tabbar {
qproperty-baseColor: transparent
}

QAbstractItemView {
alternate-background-color: rgb(221, 219, 209)
}

QWidget,QDateEdit QAbstractItemView,QDateEdit:on,QDateEdit {
selection-background-color: rgb(255, 237, 56)
}

QWidget {
selection-color: rgb(10, 12, 17)
}

QWidget:disabled {
selection-background-color: rgb(255, 237, 56);
selection-color: #787878
}

QTreeView,
QListView,
QColumnView {
gridline-color: rgb(221, 219, 209)
}

#navigation-button-back{
image: url(images/go-previous.svg)
}

#navigation-button-next {
image: url(images/go-next.svg)
}

#navigation-button-stop {
image: url(images/process-stop.svg)
}

#navigation-button-reload {
image: url(images/view-refresh.svg)
}

#navigation-button-home {
image: url(images/go-home.svg)
}

#navigation-button-addtab {
image: url(images/list-add.svg)
}

#navigation-button-tools {
image: url(images/menu.svg)
}

#navigation-button-exitfullscreen {
image: url(images/exit-fullscreen.svg)
}

#navigation-button-supermenu {
image: url(images/sub-menu.svg)
}

#tabbar-button-right {
image: url(images/tab-right-arrow.svg)
}

#tabbar-button-left {
image: url(images/tab-left-arrow.svg)
}

#tabwidget-button-opentabs {
image: url(images/go-down.svg)
}

#tabwidget-button-closedtabs {
image: url(images/user-trash-full.svg)
}

#tabwidget-button-addtab[outside-tabbar="false"]:hover {
image: url(images/list-add.svg)
}
#tabwidget-button-addtab[outside-tabbar="true"] {
image: url(images/list-add.svg)
}

#tabbar::close-button {
image: url(images/tab-close.svg)
}

#tabbar::close-button:hover {
image: url(images/tab-close-h.svg)
}

#tabbar::close-button:pressed {
image: url(images/tab-close-a.svg)
}

IconProvider {
image: url(images/star-a.svg)
}

#locationbar-bookmarkicon {
image: url(images/star.svg)
}

#locationbar-bookmarkicon[bookmarked="true"] {
image: url(images/star-a.svg)
}

#locationbar-goicon {
image: url(images/tab-right-arrow.svg)
}

#locationbar-down-icon {
image: url(images/go-down.svg)
}

#locationbar-autofillicon {
image: url(images/login.svg)
}

#websearchbar-searchbutton {
image: url(images/search-icon.svg)
}

BrowsingLibrary #tabs {
qproperty-bgPixmap: url(images/library-bg.png)
}
