/*************************************
 * Common theme styles shared by Noir and Vivid themes
 * https://doc.qt.io/qt-5/stylesheet-reference.html | https://doc.qt.io/qt-5/stylesheet-examples.html
 * 1em = 14px
 *************************************/

QToolTip {
padding:.2em;
border-style:none;
border-width:0
}

QListWidget,QListWidget::item,QTableView,QTableView::item {
border-radius:.23em;
outline-style:none;
border-style:solid;
border-width:.1em;
margin:0;
padding:.1em
}

QRadioButton,QCheckBox {
margin-left:.1em;
margin-right:.1em;
padding:.11em
}

QRadioButton::indicator,QCheckBox::indicator {
height:.85em;
width:.85em;
}

QRadioButton::indicator:unchecked,QRadioButton::indicator:unchecked:hover,QRadioButton::indicator:unchecked:pressed,QRadioButton::indicator:checked {
border-radius:.5em;
border-style:solid;
border-width:.1em
}

QRadioButton::indicator:unchecked:disabled {
border-style:solid;
border-width:.1em
}

QToolBox QScrollArea QWidget QWidget,PlotWidget {
padding:0
}

QMenuBar {
border-style:solid;
border-width:.1em;
padding:.11em
}

QMenuBar::item:selected {
border-style:solid;
border-width:0;
padding:.23em
}

QMenuBar::item:pressed {
margin-bottom:0;
border-style:solid;
border-width:0;
padding:.23em .23em 0
}

QMenu::separator {
height:.11em;
padding-left:.23em;
margin-left:.11em;
margin-right:.11em
}

QMenu::icon {
padding-left:.23em;
margin:0
}

QMenu::indicator {
width:1.11em;
height:1.11em;
padding-left:.4em
}

QAbstractItemView QLineEdit {
padding:.1em
}

QAbstractScrollArea {
border-radius:.23em;
border-style:solid;
border-width:.1em;
padding:.23em
}

QScrollBar:horizontal {
height:1.4em;
border-radius:.23em;
border-style:solid;
border-width:.1em;
margin:.11em 1.4em
}

QScrollBar:vertical {
width:1.4em;
border-radius:.23em;
border-style:solid;
border-width:.1em;
margin:1.4em .11em
}

QScrollBar::handle:vertical {
min-height:.53em;
border-radius:.23em;
border-style:solid;
border-width:.1em
}

QScrollBar::handle:vertical:hover {
border-radius:.23em;
min-height:.53em;
border-style:solid;
border-width:.1em
}

QScrollBar::add-line:horizontal {
width:.66em;
height:.66em;
border-style:none;
margin:0
}

QScrollBar::add-line:vertical {
height:.66em;
width:.66em;
border-style:none;
margin:.2em 0
}

QScrollBar::sub-line:horizontal {
height:.66em;
width:.66em;
border-style:none;
margin:0 .2em
}

QScrollBar::sub-line:vertical {
height:.66em;
width:.66em;
border-style:none;
margin:.2em 0
}

QSizeGrip {
width:1.11em;
height:1.11em
}

QAbstractSpinBox {
border-radius:.23em;
border-style:solid;
border-width:.1em;
padding:.11em .23em
}

QLabel {
margin:0;
padding:.11em
}

QPushButton,MacToolButton {
font-weight:bold;
border-radius:.23em;
outline-style:none;
min-height:2em;
max-width:10em;
max-height:2em;
word-break:break-word;
overflow:hidden;
text-overflow:ellipsis;
border-style:solid;
border-width:.1em;
margin:1em;
padding:.06em
}

QPushButton:hover,MacToolButton:hover {
border-style:solid;
border-width:.1em
}

QPushButton {
min-width:9.7em
}

MacToolButton,QDialogButtonBox QPushButton {
min-width:5.7em
}

QPushButton:disabled,MacToolButton:disabled {
border-radius:.23em;
border-style:solid;
border-width:.1em;
padding:.2em
}

QPushButton::menu-indicator {
bottom:.23em
}

QToolButton {
border-radius:.23em;
border-style:solid;
border-width:.1em;
margin:0;
padding:.11em
}

QToolButton::menu-button {
border-radius:.23em;
border-top-right-radius:.23em;
border-bottom-right-radius:.23em;
width:1.4em;
outline-style:none;
border-style:solid;
border-width:.1em;
padding:.11em
}

QToolButton::menu-indicator {
top:-.53em;
left:-.23em
}

QCommandLinkButton {
border-radius:.23em;
border-style:solid;
border-width:.1em;
margin:0;
padding:0
}

QComboBox QAbstractItemView {
border-radius:.3em;
border-style:solid;
border-width:.11em
}

QComboBox::item:selected, QComboBox::item:checked {
font-weight:bold
}

QComboBox::indicator:alternate,QComboBox::item:alternate,QComboBox::down-arrow,QSlider:disabled {
border-width:.11em;
border-radius:.3em
}

QComboBox::drop-down {
min-width:3em;
border-style:solid;
border-width:.1em
}

QSlider::handle:horizontal {
width:.53em;
height:.53em;
border-radius:.23em;
border-style:solid;
border-width:.1em;
margin:-.53em 0
}

QSlider::handle:vertical {
width:.53em;
height:.53em;
border-radius:.23em;
border-style:solid;
border-width:.1em;
margin:0 -.53em
}

QDockWidget {
border-radius:.23em;
outline-style:solid;
outline-width:.1em;
border-style:solid;
border-width:.1em
}

QDockWidget::title {
padding:.4em
}

QTableCornerButton::section {
border-radius:0;
border-style:solid;
border-width:.1em
}

QHeaderView:disabled {
border-style:solid;
border-width:.1em;
padding:.11em
}

QHeaderView::section {
border-radius:0;
text-align:left;
padding:.11em
}

QSpinBox {
min-width:4.53em;
min-height:1.61em;
max-height:1.61em;
border-style:solid;
border-width:.1em
}

QToolBox {
border-style:solid;
border-width:.1em;
padding:0
}

QToolBox::selected {
border-style:solid;
border-width:.11em;
padding:0
}

QToolBox::tab {
border-top-left-radius:.23em;
border-top-right-radius:.23em;
border-style:solid;
border-width:.1em
}

QSplitter::separator:horizontal {
width:.33em
}

QSplitter::separator:vertical {
height:.33em
}

QDateEdit {
border-radius:.23em;
min-width:.66em;
border-style:solid;
border-width:.1em;
padding:.11em .23em
}

QDateEdit::drop-down {
width:1.3em;
border-top-right-radius:.2em;
border-bottom-right-radius:.2em
}

[html-link-look="true"] {
text-decoration:underline
}

DesktopNotification #frame {
border-style:solid;
border-width:.1em;
padding:.66em
}

DesktopNotification #heading {
font-weight:bold
}

QFrame[js-frame="true"] {
border-style:solid solid none;
border-width:.1em
}

QFrame[js-frame2="true"] {
border-bottom-width:.1em;
border-left-width:.1em;
border-right-width:.1em;
border-style:none solid solid
}

QWidget {
font-family:Candara, Corbel, Calibri, Liberation Sans, Sans-serif;
border-radius:.2em;
margin:0;
padding:0
}

QMainWindow::separator:horizontal {
width:.33em;
margin-top:.11em;
margin-bottom:.11em
}

QMainWindow::separator:vertical {
height:.33em;
margin-left:.11em;
margin-right:.11em
}

QCheckBox::indicator:unchecked,QCheckBox::indicator:unchecked:hover,QCheckBox::indicator:unchecked:pressed,QCheckBox::indicator:checked {
border-radius:.5em;
border-style:solid;
border-width:.11em
}

QMenuBar:focus,QPushButton:pressed:hover,MacToolButton:hover,QToolButton:checked:hover,QToolButton:pressed:hover,QToolButton:hover,QToolButton::menu-button:hover,QToolButton::menu-button:checked:hover {
border-style:solid;
border-width:.1em
}

QMenuBar::item,QMenu {
padding:.23em
}

QMenu::item {
padding:.25em
}

QStackedWidget {
padding:0
}

QAbstractItemView,QTextBrowser,QTextBrowser:disabled,QGraphicsView,QGraphicsView:disabled,QCalendarWidget,QTreeView,QListView,QColumnView {
border-radius:.23em;
border-style:solid;
border-width:.1em
}

QScrollBar::handle:horizontal,QScrollBar::handle:horizontal:hover {
border-radius:.23em;
min-width:.53em;
border-style:solid;
border-width:.1em
}

QScrollBar::add-line:horizontal:hover,QScrollBar::add-line:horizontal:on,QScrollBar::add-line:vertical:hover,QScrollBar::add-line:vertical:on,QScrollBar::sub-line:horizontal:hover,QScrollBar::sub-line:horizontal:on,QScrollBar::sub-line:vertical:hover,QScrollBar::sub-line:vertical:on {
height:.66em;
width:.66em
}

QPlainTextEdit,QDateEdit QAbstractItemView {
border-radius:.23em;
border-style:solid;
border-width:.1em
}

QToolButton#qt_toolbar_ext_button,QLabel::disabled,QFrame,QFrame[frameShape="0"],QSplitter::separator,#websearchbar ToolButton:hover,#websearchbar ToolButton {
border-style:none
}

QAbstractSpinBox:up-button,QAbstractSpinBox:down-button {
margin:.1em
}

QAbstractSpinBox::up-arrow,QAbstractSpinBox::up-arrow:disabled,QAbstractSpinBox::up-arrow:off,QAbstractSpinBox::down-arrow,QAbstractSpinBox::down-arrow:disabled,QAbstractSpinBox::down-arrow:off {
width:.6em;
height:.6em
}

QProgressBar,QProgressBar:disabled {
border-radius:.23em;
text-align:center;
border-style:solid;
border-width:.1em
}

QProgressBar::chunk,QProgressBar::chunk:disabled,QDockWidget::close-button,QDockWidget::float-button {
border-radius:.23em
}

QPushButton:checked,QPushButton:checked:disabled,MacToolButton:checked,MacToolButton:checked:disabled {
border-radius:.23em;
outline-style:none;
border-style:solid;
border-width:.1em;
padding:.2em
}

QSlider::groove:horizontal,QSlider::sub-page:horizontal {
height:.23em;
border-radius:.23em;
border-style:solid;
border-width:.1em;
margin:0
}

QSlider::groove:vertical,QSlider::add-page:vertical {
width:.23em;
border-radius:.23em;
border-style:solid;
border-width:.1em;
margin:0
}

QHeaderView {
border-radius:0;
border-style:none;
margin:0;
padding:0
}

QHeaderView::section::horizontal,QHeaderView::section::horizontal::first,QHeaderView::section::horizontal::only-one {
border-left-style:solid;
border-left-width:.1em
}

QHeaderView::section::vertical,QHeaderView::section::vertical::first,QHeaderView::section::vertical::only-one {
border-top-style:solid;
border-top-width:.1em
}

QHeaderView::down-arrow,QHeaderView::up-arrow {
width:1.4em;
height:1.4em;
border-right-style:solid;
border-right-width:.1em
}

QSpinBox::up-arrow,QSpinBox::down-arrow {
background-repeat:no-repeat;
background-position:center
}

QToolBox::tab:selected,QToolBox::tab:selected:disabled,QToolBox::tab:hover {
border-bottom-style:solid;
border-bottom-width:.11em
}

QComboBox {
border-radius:.3em;
padding-top:.2em;
padding-bottom:.2em;
padding-left:.5em;
padding-right:.2em;
margin:0;
min-height:1.5em;
min-width:3em;
border-style:solid;
border-width:.1em
}

QComboBox:hover {
border-radius:.3em;
margin:0;
min-height:1.5em;
min-width:3em;
border-style:solid;
border-width:.1em
}

QLineEdit {
border-radius:.23em;
border-style:solid;
border-width:.1em;
padding:.11em .23em;
min-height:2em;
padding-left: .5em
}

QTabWidget::pane {
border-radius:.23em;
border-style:solid;
border-width:.1em;
margin:0;
padding:0
}

QTabBar::tab {
border-bottom-width:.2em;
padding-top:.5em;
padding-bottom:.3em;
border-top-left-radius:.23em;
border-top-right-radius:.23em;
border-left-style:solid;
border-right-style:solid;
border-left-width:.1em;
border-right-width:.1em;
word-break:break-word;
white-space: pre;
overflow: hidden;
text-overflow: ellipsis
}

QTabBar::tab:top:selected:disabled,QTabBar::tab:bottom:selected:disabled,QTabBar::tab:left:selected:disabled,QTabBar::tab:right:selected:disabled {
border-bottom-style:solid
}

QTabBar::tab:top,QTabBar::tab:bottom {
min-width:11em;
max-width:11em;
border-bottom-style:solid;
padding-left:1.1em;
padding-right:1.1em
}

QTabBar::tab:left,QTabBar::tab:right {
    min-height:.33em
}

QTabBar::tab:top:selected {
border-bottom-style:solid
}

QTabBar::tab:bottom:selected {
border-top-style:solid
}

QTabBar::tab:left:selected {
border-left-style:solid
}

QTabBar::tab:right:selected {
border-right-style:solid
}

QTabBar QToolButton {
width:1.4em;
height:1.4em
}

QTabBar::close-button {
border-style:none;
padding:0
}

#navigationbar {
min-height:.9em;
max-height:.9em;
padding-bottom:2.1em;
border-style:none
}

#navigationbar QSplitter {
min-width:.3em;
max-width:.3em
}

#navigation-toolbutton-badge {
margin:0 .1em
}

#navigationbar ToolButton {
border-style:none;
margin-left:0;
margin-right:.3em;
padding:0
}

#navigationbar ToolButton:hover {
border-style:none;
margin-left:0;
margin-right:.3em;
padding:0
}

#navigationbar QLineEdit {
padding-left: 0
}

#locationbar {
min-height:1.1em;
max-height:1.1em;
border-radius:.7em;
border-style:solid;
border-width:.1em;
padding-top:.27em;
padding-bottom:.27em
}
    
#locationbar ToolButton {
margin-left:.5em
}

#locationbar ToolButton:hover {
margin-left:.5em
}
/*
#locationbar-siteicon {
    
}
*/
#locationbar-down-icon {
margin-right:.66em
}

#locationbar-goicon, #locationbar-down-icon, #locationbar-bookmarkicon, #locationbar-autofillicon {
min-height:1.1em;
max-height:1.1em;
min-width:1.1em;
max-width:1.1em
}

#bookmarksbar QToolButton {
height:1.33em;
border-width:0
}

#websearchbar {
border-radius:.7em;
max-width:51.3em;
min-width:19.3em;
max-height:1em;
min-height:1em;
border-style:solid;
border-width:.1em;
margin-top:.1em;
margin-right:.1em;
margin-bottom:0;
padding-left:.23em;
padding-right:.23em;
padding-top:.17em;
padding-bottom:.17em
}

#websearchbar QToolButton {
margin-left:.5em;
margin-top:.2em
}

#websearchbar QToolButton:hover {
margin-left:.5em;
margin-top:.2em
}

#websearchbar-searchbutton {
margin-right:.66em;
min-height:1em;
max-height:1em;
min-width:1em;
max-width:1em
}

#tabwidget-button-addtab {
max-width:1em;
max-height:1em;
min-width:1em;
min-height:1em;
margin:.3em;
padding:.1em
}

#combotabbar_tabs_close_button {
max-width:.7em;
max-height:.7em;
min-width:.7em;
min-height:.7em
}

#tabbar::tab {
word-break:break-word;
white-space: pre;
overflow: hidden;
text-overflow: ellipsis
}

/*
#tabbar::tab:selected:first,#tabbar::tab:selected:only-one {

}

#tabwidget-button-closedtabs {

}
*/

QWidget#PluginsList QListWidget#list::item:hover {
border-radius:0
}

/*************************************
 * Non-standard Qt specific selectors - https://doc.qt.io/qt-5/stylesheet-reference.html#list-of-properties
 *************************************/

QTreeView::item:!selected:hover,QListView::item:!selected:hover,QColumnView::item:!selected:hover {
outline-style:none
}

QToolBox::tab:!selected {
border-bottom-style:solid;
border-bottom-width:.11em
}

QTextBrowser:hover,QTextBrowser:!hover,QTextBrowser::selected,QTextBrowser::pressed,QGraphicsView:hover,QGraphicsView:!hover,QGraphicsView::selected,QGraphicsView::pressed {
border-style:solid;
border-width:.1em
}

/*
#tabbar::tab:selected:!first,#tabbar::tab:!selected:!first,#tabbar::tab:!selected:!first:hover {

}

#tabbar::tab:!selected:first,#tabbar::tab:!selected:only-one,#tabbar::tab:!selected:hover:only-one {

}

QTabBar::tab:!selected:hover {

}
*/
